<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.battcn.mapper.UserMapper">

    <resultMap id="baseResultMap" type="com.battcn.chapter1.responseDTO.Video">
        <result column="video_id" jdbcType="VARCHAR" property="videoId" />
        <result column="video_name" jdbcType="VARCHAR" property="videoName" />
        <result column="file_format" jdbcType="VARCHAR" property="fileFormat" />
        <result column="content_description" jdbcType="VARCHAR" property="contentDescription" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"></result>
    </resultMap>

    <insert id="insert" parameterType="com.battcn.chapter1.responseDTO.Video">
    INSERT INTO `video_info`(`video_id`,`device_id`) VALUES (#{videoId},#{deviceId})
  </insert>

    <select id="getVideoInfo1" resultMap="baseResultMap">
        SELECT * FROM video_info;
    </select>

</mapper>